.App {
  text-align: center;
  background: #1976d2;
}

.App-header {
  background-color: #1976d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Comfortaa";
}

.App-header img {
  height: 80px;
  margin-top: 40px;
}

footer {
  color: white;
}

footer a {
  color: #bbdefb;
}
